* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    max-width: 100%;
    display: flex;
}

@font-face {
    font-family: "outfit";
    src: url(../website/static/Outfit-Bold.ttf);
}

.container {
    width: 992px;
    background: white;
    padding: 30px;
    margin: 60px auto 0;
    border-radius: 20px;
}

.container h1, p {
    margin-left: 10px;
}

.container p {
    text-wrap: balance;
}

.container img {
    display: block;
    max-width: 100%;
    border-radius: 20px;
}

.section1 {
    background-color: hsla(327, 44%, 95%, 0.442);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
}

.section1 ul li {
    margin: 10px;
}

.section1 ul {
    padding-bottom: 10px;
}

.section1 h3 {
    padding-left: 30px;

}

.section1 ul li::marker {
    color: hsl(332, 51%, 32%);
}

.section2 ul li::marker {
    color: hsl(14, 45%, 36%);
}

.section2 ul li {
    margin: 10px;
}

.section2 h2 {
    padding-left: 30px;
}

.section2 {
    padding-bottom: 10px;
}

.section3 ol li::marker {
    color: hsl(14, 45%, 36%);
}

.section3 ol li {
    margin-left: 20px;
    margin-right: 20px;
    margin: 10px;
    padding-bottom: 5px;
}

.section3 h2 {
    padding-left: 30px;
}

.section4 {
    margin-left: 30px;
}

.section4 table td{
    /* border-bottom: 1px solid hsl(30, 18%, 87%); */
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.nut1, .nut2, .nut3 {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

h3 {
    color: hsl(332, 51%, 32%);
}

h2, .nut1, .nut2, .nut3, .nut4, .nut5 {
    color: hsl(14, 45%, 36%);
}

table {
    width: 100%;
}

/* @media screen and (max-width: 1440) {
    .container {
        background: rgb(228, 13, 13);
        width: 100%;
    }
} */

