/* Box sizing and reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.6;
  color: hsl(14, 45%, 36%);
}

/* Container */
.container {
  width: 90%;
  max-width: 992px;
  background: #fff;
  padding: 2rem 2.5rem;
  margin: 60px auto 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Headings */
h1, h2, h3 {
  margin-top: 0;
  font-weight: 700;
}

h1 {
  font-size: 2.4rem;
  color: hsl(14, 45%, 36%);
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  color: hsl(14, 45%, 36%);
}

h3 {
  font-size: 1.3rem;
  color: hsl(332, 51%, 32%);
  margin-bottom: 0.5rem;
}

/* Paragraphs */
p {
  margin: 0 0 1.5rem 10px;
  text-wrap: balance;
  font-size: 1rem;
  color: hsl(14, 45%, 36%);
}

/* Image */
.container img {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 20px;
  margin: 0 auto 2rem auto;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* Sections */
section {
  margin: 2rem 0;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  background-color: hsla(327, 44%, 95%, 0.44);
  border-radius: 12px;
}

/* Lists styling */
ul, ol {
  padding-left: 1.5rem;
  margin: 0;
}

ul li, ol li {
  margin: 0.7rem 0;
  font-size: 1rem;
  color: hsl(14, 45%, 36%);
}

/* Custom list markers */
.section1 ul li::marker {
  color: hsl(332, 51%, 32%);
}

.section2 ul li::marker,
.section3 ol li::marker {
  color: hsl(14, 45%, 36%);
}

/* Nutrition table */
.section4 {
  background: transparent;
  padding-left: 0;
  margin-left: 0;
}

.section4 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.8rem;
}

.section4 table td {
  padding: 12px 20px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  font-size: 1rem;
  color: hsl(14, 45%, 36%);
}

.section4 table tr:last-child td {
  border-bottom: none;
}

/* Nutrition value*

